.container {
  max-width: 900px;
  margin: 0 auto;
  height: 1000px;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.center-txt {
  text-align: center;
}

.add-entry {
  justify-content: center;
  margin-top: 8rem;
}

.col-7 {
  width: calc(100% / 7);
  padding: 10px;
}

.days {
  border: solid 1px black;
  text-align: center;
}

.add-button {
  font-size: 0.75rem;
  padding: 6px 40px;
  box-shadow: 2px 3px;
  border: solid 2px black;
}

.add-button:hover {
  background-color: rgb(149, 188, 242);
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 650px;
  background-color: white;
}

tr {
  text-align: left;
  height: 20px;
}

 tbody > tr:nth-child(2n +1) {
  background-color: lightgray;
 }

 thead > tr {
   background-color: gray;
 }

 thead th:last-child {
  border-left: solid black;
 }

td {
  height: 20px;
  border-right:solid black;
}

table {
  border-collapse: collapse;
  border: solid black;
}


select {
  text-align: left;
  margin: 1rem;
  border: solid black;
}

textarea {
  margin: 1rem;
  width: 540px;
  height: 108px;
  padding-right: 50px;
  border: solid black;
}

.right-align {
  text-align: right;
}

.submitButton {
  background-color: white;
  padding: 0 5px;
  box-shadow: 2px 3px;
  border: solid 2px black;
  margin-bottom: 10px;
  margin-right: 40px;
}
